<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <img class="card-img-top" alt="Thumbnail [100%x225]" src={{thumbnail}} data-holder-rendered="true">
        <div class="card-body">
        <p class="card-text">{{title}}</p>
        <p class="card-text">{{date_start}}</p>
        <p class="card-text">{{venue_name}}</p>
        <p class="card-text">COVID-19 Rate: {{covid_cases}}</p>
        <!--<p class="card-text">Weather: {{weather}}</p>-->
        <div class="d-flex justify-content-end align-items-center">
            <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            </div>
        </div>
        </div>
    </div>
</div>